<div class="text-center">
  <h3>This is a test project on the topic:
    <br>
  "Site for managing personal collections".
    <br>
  Project created by Igor Fedonenkov.</h3>
  E-mail: Igor_fedonenkov@gmail.com
  <br>
  <a [href]="['https://www.instagram.com/igo_fedaligo/']"> <Img class="picture-align" src="https://lh3.googleusercontent.com/pw/ACtC-3dIGLWIl5CEg9_kwRgR6mzez4FOUDg0pZPj0Pw0bWrl5Eq8HAwiTXOj-9jiDNq4ZvkJUpFXL_TyvBHrp68KIv-_D-DzRQ3_iXg6e8lHCwVsZHa1Z3gVlpGr2QveryIvHUIWms94F1nJYAjKp_IkzzWl=w580-h583-no?authuser=0" Height="50" width="50"></a>
  <a [href]="['https://www.facebook.com/profile.php?id=100016753080753']"><Img class="picture-align" src="https://lh3.googleusercontent.com/pw/ACtC-3crtHydYuLgRsXdL18bO7tYZeng4tOftdpdI0dyTPWzYKLC5Dm1UUwL_goDbnsIKsRV032p5gmLGNPg46KTNXE6i4V5Hkt5VZfYdbh5n9-Skjyn66tx7GmZs-_mDbfSt6fLxt2nHR45QSh0iCnuKghs=s437-no?authuser=0" Height="50" width="50"></a>
  <a [href]="['https://vk.com/igaruha_by']"><Img class="picture-align" src="https://lh3.googleusercontent.com/pw/ACtC-3eKljty1y_egP3bT2y1Bt59swQMwY904A8rnzL3dOyEUTG2DOXi74HT23ExPHuaqFHGOy6eF9GzUh7dN-AoPXcQmj_c0NOnLkPK7AFC2y-ArpbgoYYstSSWtk8rRZEX9HE6BRzjS5lq9sPpox98Y63l=w419-h417-no?authuser=0" Height="50" width="50"></a>

</div>
