h2{
  text-align: right;
  margin-right: 5%;
}

h1{
  max-width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.show-text{
  text-align: center;
}
.mat-delete {
  background-color: #B22222;
  color: white;
}

.container {
  text-align: center;
  margin-top: 3rem;

}
.info-table {
  margin-top: 3rem;

  width: 80%;
}
.\.center{
  text-align: center;
}

.show-profile{

}
.edit-profile{

}
.example-full-width {
  width: 100%;
}

.mat-raised-button{
  margin-right: 1%;
}
