.mylist-coloumn-names{
  margin-left: 1rem;
  margin-top: 1rem;
  align-self: start;
  text-align: left;
}

.mylist-picture{
  margin-left: 1rem;
  margin-top: 1rem;
  align-self: start;
}
h1 {
  text-align: left;
  margin-left: 1rem;
}
