
<h1>{{svc.response1.name}}</h1>
<mat-list class="mylist-picture">
  <div><Img src="{{svc.response1.picture}}" Height="400"></div>
</mat-list>
<br>
<table class="info-table">
  <tr>
    <td width="30%">{{svc.columns[0]}}</td>
    <td width="70%">{{svc.response1.topic}}</td>
  </tr>
  <tr>
    <td width="30%">{{svc.columns[1]}}</td>
    <td width="70%">{{svc.response1.cost}}</td>
  </tr>
  <tr>
    <td width="30%">{{svc.columns[2]}}</td>
    <td width="70%">{{svc.response1.country}}</td>
  </tr>
  <tr>
    <td width="30%">{{svc.columns[3]}}</td>
    <td width="70%">{{svc.response1.release}}</td>
  </tr>

  <tr *ngIf="svc.response1.badges[0]">
    <td width="30%">{{svc.badges[0]}}</td>
    <td width="70%">{{svc.response1.badges[0].material}}</td>
  </tr>
  <tr *ngIf="svc.response1.badges[0]">
    <td width="30%">{{svc.badges[1]}}</td>
    <td width="70%">{{svc.response1.badges[0].kind}}</td>
  </tr>
  <tr *ngIf="svc.response1.badges[0]">
    <td width="30%">{{svc.badges[2]}}</td>
    <td width="70%">{{svc.response1.badges[0].fastening}}</td>
  </tr>

  <tr *ngIf="svc.response1.books[0]">
    <td width="30%">{{svc.books[0]}}</td>
    <td width="70%">{{svc.response1.books[0].author}}</td>
  </tr>
  <tr *ngIf="svc.response1.books[0]">
    <td width="30%">{{svc.books[1]}}</td>
    <td width="70%">{{svc.response1.books[0].pages}}</td>
  </tr>
  <tr *ngIf="svc.response1.books[0]">
    <td width="30%">{{svc.books[2]}}</td>
    <td width="70%">{{svc.response1.books[0].publishingHouse}}</td>
  </tr>

  <tr *ngIf="svc.response1.coins[0]">
    <td width="30%">{{svc.coins[0]}}</td>
    <td width="70%">{{svc.response1.coins[0].kind}}</td>
  </tr>
  <tr *ngIf="svc.response1.coins[0]">
    <td width="30%">{{svc.coins[1]}}</td>
    <td width="70%">{{svc.response1.coins[0].size}}</td>
  </tr>
  <tr *ngIf="svc.response1.coins[0]">
    <td width="30%">{{svc.coins[2]}}</td>
    <td width="70%">{{svc.response1.coins[0].metal}}</td>
  </tr>

  <tr *ngIf="svc.response1.stamps[0]">
    <td width="30%">{{svc.stamps[0]}}</td>
    <td width="70%">{{svc.response1.stamps[0].perforation}}</td>
  </tr>
  <tr *ngIf="svc.response1.stamps[0]">
    <td width="30%">{{svc.stamps[1]}}</td>
    <td width="70%">{{svc.response1.stamps[0].value}}</td>
  </tr>
  <tr *ngIf="svc.response1.stamps[0]">
    <td width="30%">{{svc.stamps[2]}}</td>
    <td width="70%">{{svc.response1.stamps[0].color}}</td>
  </tr>

  <tr *ngIf="svc.response1.wine[0]">
    <td width="30%">{{svc.wine[0]}}</td>
    <td width="70%">{{svc.response1.wine[0].alcohol}}</td>
  </tr>
  <tr *ngIf="svc.response1.wine[0]">
    <td width="30%">{{svc.wine[1]}}</td>
    <td width="70%">{{svc.response1.wine[0].sugar}}</td>
  </tr>
  <tr *ngIf="svc.response1.wine[0]">
    <td width="30%">{{svc.wine[2]}}</td>
    <td width="70%">{{svc.response1.wine[0].kind}}</td>
  </tr>

  <tr>
    <td width="30%">{{svc.columns[4]}}</td>
    <td width="70%">{{svc.response1.info}}</td>
  </tr>
  <tr>
    <td width="30%">{{svc.columns[5]}}</td>
    <td width="70%">{{service.ownerUserName}}</td>
  </tr>
</table>
<div class="container">
  <mat-chip-list
    class="example-chip"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">
    <mat-chip class="example-box"
              cdkDrag
              *ngFor="let tg of svc.tagsNames"
              (click)="svc.findInfoByWord(tg)"
              [routerLink]="['/searchitems']">
      {{tg}}
    </mat-chip>
  </mat-chip-list>
</div>
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <div *ngIf="service.getTokenFromLocalStorage()">
          <div *ngIf="service.isHaveLikeMessage">
          <button mat-fab color="warn" aria-label="Example icon button with a heart icon" (click)="service.deleteLike()">
            <mat-icon>favorite</mat-icon>
          </button>
          </div>
          <div *ngIf="!service.isHaveLikeMessage">
          <button mat-fab color="grey" aria-label="Example icon button with a heart icon" (click)="service.addLike()">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        </div>
        <div *ngIf="service.responseIsOwnerOrAdmin">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="service.getTokenFromLocalStorage()" class="message-container">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Message</mat-label>
          <input matInput #message maxlength="256" type="text" name="comment" id="comment" [(ngModel)]="comment">
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
      </form>
      <div class="message-container">
        <button mat-raised-button color="primary" (click)="addComment()">Send</button>
      </div>
    </div>
  </div>
</section>

<table class="comment-table">
  <tr *ngFor="let element of service.allCommentsByItemId; let i = index">
    <td width="30%">
      {{service.commentsUsersNamesByItemId[i]}}
      <br>
      {{element.created | date:'medium'}}
    </td>
    <td width="65%">{{element.comment}}</td>
    <td width="5%">
      <div *ngIf="service.responseIsOwnerOrAdmin">
        <button mat-button aria-label="Example icon button with a bookmark icon" (click)="service.deleteComment(element.id)" >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </td>
  </tr>
</table>





