<div  [class]="getColorBackGround()">
  <mat-toolbar [color]="getColorTolbar()">
  <mat-toolbar-row>
      <span>
          <button mat-flat-button [color]="getColorTolbar()"
                  [routerLink]="['']"><h1>Collector</h1></button>
      </span>
    <span class="theme"></span>
    <mat-slide-toggle [(ngModel)]="isChecked" (ngModelChange)="setColorTolbar();setColorBackGround()">
      <div *ngIf="isChecked">{{mycolor[1]}}</div>
      <div *ngIf="!isChecked">{{mycolor[0]}}</div>
    </mat-slide-toggle>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-form-field class="example-form-field">
      <mat-label>Search item</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button (click)="svc.findInfoByWord(value)" [routerLink]="['/searchitems']">Search</button>
    <span class="example-spacer"></span>
    <div *ngIf="service.getTokenFromLocalStorage()">
      {{service.getUserNameFromLocalStorage()}}
      <button mat-raised-button (click)="service.logout()" [routerLink]="['/sign']">Logout</button>
    </div>
    <div *ngIf="!service.getTokenFromLocalStorage()">
      <button mat-raised-button [routerLink]="['/sign']">Sign in</button>
    </div>

  </mat-toolbar-row>
    <mat-toolbar-row>

      <button mat-flat-button [color]="getColorTolbar()"
              [routerLink]="['/allcollections']">Show all collections</button>
      <button mat-flat-button [color]="getColorTolbar()"
              [routerLink]="['/allitems']">Show all items</button>
      <button mat-flat-button [color]="getColorTolbar()"
              [routerLink]="['/about']">About</button>
      <span class="example-spacer"></span>
      <div *ngIf="service.getTokenFromLocalStorage()">
        <button mat-flat-button [color]="getColorTolbar()"
                [routerLink]="['/myitems']" (click)="svc.findItemsByUserName()">
          My items</button>
        <button mat-flat-button [color]="getColorTolbar()"
                [routerLink]="['/mycollections']" (click)="svc.findCollectionsByUserName()">
          My collections</button>
        <button mat-flat-button [color]="getColorTolbar()"
                [routerLink]="['/settings']" (click)="svc.findItemsByUserName()">Settings</button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

  <router-outlet></router-outlet>
</div>


