
<div class="example-container">
<mat-card class="example-card">
<form id="accesspanel" action="">
  <h1>LOGIN:</h1>
  <mat-form-field appearance="fill" >
    <mat-label>Enter your Login</mat-label>
    <input matInput type="text" name="userName" id="username" maxlength="50" [(ngModel)]="userName" [formControl]="loginFormControl">
  </mat-form-field>
  <br>
  <h1>PASSWORD:</h1>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput type="password" name="password"  [(ngModel)]="password" id="password" [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl">
    <button mat-icon-button matSuffix  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <div class=".center">
    <div *ngIf="loginFormControl.hasError('required') || loginFormControl.hasError('pattern') ||
 passwordFormControl.hasError('required') || passwordFormControl.hasError('pattern')">

      <div *ngIf="loginFormControl.hasError('pattern') || passwordFormControl.hasError('pattern') " class=".redtext">
        Only <strong>LATIN LETTERS</strong> or <strong>NUMBERS</strong> can be used.
      </div>

      <nav class="interval">
        <button mat-raised-button disabled  color="primary">Enter</button>
        <span class="interval"><a routerLink="/registration">Registration</a></span>
      </nav>
    </div>
    <div *ngIf="!loginFormControl.hasError('required') && !loginFormControl.hasError('pattern') &&
 !passwordFormControl.hasError('required') && !passwordFormControl.hasError('pattern')">
      <nav class="interval">
        <button mat-raised-button type="submit" name="Login" id="go" value="Login" (click)="doLogin()"  color="primary">Enter</button>
        <span class="interval"><a routerLink="/registration">Registration</a></span>
      </nav>
    </div>
  </div>
</form>
  <br>
  <div class=".redtext">{{service.message}}</div>
  <div *ngIf="service.token"><h2>You are successfully logged in</h2></div>
</mat-card>
</div>
<br>

