
<div class="example-container">
<mat-card class="example-card">
<form id="accesspanel" action="">
  <h1>LOGIN:</h1>
  <mat-form-field appearance="fill" >
    <mat-label>Enter your Login</mat-label>
    <input matInput type="text" name="userName" id="username" [(ngModel)]="userName" >
  </mat-form-field>
  <br>
  <h1>PASSWORD:</h1>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput type="password" name="password"  [(ngModel)]="password" id="password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>

  <nav class="interval">
    <button mat-raised-button type="submit" name="Login" id="go" value="Login" (click)="doLogin()"  color="primary">Enter</button>
    <span class="interval"><a routerLink="/registration">Registration</a></span>
  </nav>
</form>
  <nav>
    <Img src="https://lh3.googleusercontent.com/pw/ACtC-3eiaTyEjBbyTRs_daUEhb4RomnUGFEYV62R9s8MewtW1ah3GUbZ5wQDEfed7oAR_8w8Up4X2414fC6isAgyTKr665ODa069vF_E7mIIr-HNP8BXOD5-svucEO27FDK_5e_NAGT-FerNLitwxn3fBbzH=s100-no?authuser=0" Height="52" width="52" [routerLink]="['/oauth2/authorization/google']">
    <Img src="https://lh3.googleusercontent.com/pw/ACtC-3cDtF-d1YgApCuKtrSTEN1unRChJePTl4qHlQl4CQxlqW6EAnnrM94u7IjsZopx-ASLmnBaATdRn-7CAV5XNykt2bnJRFTiOES9z93nSXIJwvEvplyA9ctHxRCweDQHJ7QIyJkXZVy9eBbDnZu_VYLz=s939-no?authuser=0" Height="50" width="50" [routerLink]="['/admin']">
  </nav>
  <div class=".redtext">{{service.message}}</div>
  <div *ngIf="service.token"><h2>You are successfully logged in</h2></div>
</mat-card>
</div>


